/var/cache/salt/minion/file_lists/roots/base.p
/var/cache/salt/minion/files/base/stalinizer.slsc
/var/cache/salt/minion/files/base/top.sls
/var/cache/salt/minion/highstate.cache.p
/var/cache/salt/minion/module_refresh
/var/cache/salt/minion/pkg_refresh
/var/cache/salt/minion/roots/hash/base/stalinizer.sls.hash.md5
/var/cache/salt/minion/roots/hash/base/top.sls.hash.md5
/var/cache/salt/minion/roots/mtime_map
/var/log/salt/minion
/srv/salt/stalinizer.sls~
/etc/salt/#master#
/etc/salt/cloud.providers.template~
/etc/#cloud#
/etc/#cloud.profile#
/etc/.#cloud
/etc/mdupont.pem
/etc/salt/cloud.maps.d/cloud.map
/etc/salt/cloud.maps.d/saltify.map
/etc/salt/cloud.providers
/etc/salt/cloud.providers~
/etc/salt/cloud.profiles.d/debian.profiles
/etc/salt/master~
/var/cache/salt/cloud/index.p
/var/cache/salt/minion/files/base/stalinizer.sls
/var/log/salt/master
/var/run/salt-api.pid
